body {
    background-color: rgb(44, 44, 44);
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10%;
}

.userLinkHeader {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(72, 72, 72);
    padding: 5px 100px;
    font-size: calc(15px + 1vw);
}

.inputUserLink {
    width: calc(300px + 1vw);
    height: 24px;
}

.shourtBtn {
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + 1vw);
    width: calc(150px + 1vw);
    color: white;
    border-radius: 5px;
    border: 3px solid rgb(46, 57, 82);
    background-color: rgb(99, 99, 99);
    cursor: pointer;
}

.inputUserLink {
    margin-bottom: 2%;
}

.shourtLinkHeader {
    background-color: rgb(72, 72, 72);
    color: rgb(255, 255, 255);
    padding: 5px 50px;
    font-family: 'Roboto', sans-serif;
    margin-top: 3%;
    font-size: calc(15px + 1vw);
}